beautifulsoup4==4.12.3
fastapi
uvicorn
ximilar-client
requests
geopy
openai
sqlalchemy
psycopg2-binary
python-dotenv
alembic
pytest
pytest-mock
httpx
gunicorn
python-jose[cryptography]
bcrypt
pydantic[email]
python-multipart
celery[redis]
redis